<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Login</title>
</head>
<body>

    <div class="shadow-wrap">
        <div class="form-wrap">
            <h2>Signup</h2>
            <form method="POST">
                {% csrf_token %}
                {{form}}
                <button type="submit">Submit</button>
                <a href="{% url 'base:login' %}" class="signup-link">Login</a>
            </form>
        </div>
    </div>

    </form>
</body>
</html>